Options +FollowSymLinks -Indexes
RewriteEngine On

# force https 
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# redirect www to non-www 
RewriteCond %{HTTPS_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# robots.txt
RewriteCond %{REQUEST_URI} ^/robots.txt.*$
RewriteRule ^robots.txt?$ /robots.php [L,QSA,END]

# site_map.xml
RewriteCond %{REQUEST_URI} ^/site_map.xml.*$
RewriteRule ^site_map.xml?$ /site_map.php [L,QSA,END]
RewriteCond %{REQUEST_URI} ^/sitemap.xml.*$
RewriteRule ^site_map.xml?$ /site_map.php [L,QSA,END]

#service worker
RewriteCond %{REQUEST_URI} ^/sw.js?$
RewriteRule ^sw.js$ service_worker.php [L]

# m3u generator
RewriteCond %{REQUEST_URI} ^/m3u8/.*$
RewriteRule ^m3u8/([^/.]+)?$ /m3u8/gen.php?type=$1 [L,QSA,END]

RewriteCond %{REQUEST_URI} ^/m3u8/.*/.*$
RewriteRule ^m3u8/([^/.]+)/([^/.]+)?$ /m3u8/gen.php?type=$1 [L,QSA,END]

# js generator
RewriteCond %{REQUEST_URI} ^/js/.*/.*$
RewriteRule ^js/([^/.]+)/([^/]+)?$ /js/index.php?js=$1&type=$2 [L,QSA,END]

# css generator
RewriteCond %{REQUEST_URI} ^/css/.*/.*$
RewriteRule ^css/([^/.]+)/.([^/.]+)?$ /css/index.php?css=$1&type=$2 [L,QSA,END]

RedirectMatch 404 /\.git